client/KuwaibaWebserviceClient/src/META-INF/KuwaibaWebserviceService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="KuwaibaWebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/KuwaibaServer-war/KuwaibaWebserviceService?xsd=1" />
</xsd:schema>
</types>
<message name="getEquipment">
<part name="parameters" element="tns:getEquipment" />
</message>
<message name="getEquipmentResponse">
<part name="parameters" element="tns:getEquipmentResponse" />
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession" />
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse" />
</message>
<message name="destroySession">
<part name="parameters" element="tns:destroySession" />
</message>
<message name="destroySessionResponse">
<part name="parameters" element="tns:destroySessionResponse" />
</message>
<message name="getTreeNode">
<part name="parameters" element="tns:getTreeNode" />
</message>
<message name="getTreeNodeResponse">
<part name="parameters" element="tns:getTreeNodeResponse" />
</message>
<message name="getRootNode">
<part name="parameters" element="tns:getRootNode" />
</message>
<message name="getRootNodeResponse">
<part name="parameters" element="tns:getRootNodeResponse" />
</message>
<message name="getObjectInfo">
<part name="parameters" element="tns:getObjectInfo" />
</message>
<message name="getObjectInfoResponse">
<part name="parameters" element="tns:getObjectInfoResponse" />
</message>
<message name="updateObject">
<part name="parameters" element="tns:updateObject" />
</message>
<message name="updateObjectResponse">
<part name="parameters" element="tns:updateObjectResponse" />
</message>
<message name="getLastErr">
<part name="parameters" element="tns:getLastErr" />
</message>
<message name="getLastErrResponse">
<part name="parameters" element="tns:getLastErrResponse" />
</message>
<portType name="KuwaibaWebservice">
<operation name="getEquipment">
<input wsam:Action="http://webservice/KuwaibaWebservice/getEquipmentRequest" message="tns:getEquipment" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getEquipmentResponse" message="tns:getEquipmentResponse" />
</operation>
<operation name="createSession">
<input wsam:Action="http://webservice/KuwaibaWebservice/createSessionRequest" message="tns:createSession" />
<output wsam:Action="http://webservice/KuwaibaWebservice/createSessionResponse" message="tns:createSessionResponse" />
</operation>
<operation name="destroySession">
<input wsam:Action="http://webservice/KuwaibaWebservice/destroySessionRequest" message="tns:destroySession" />
<output wsam:Action="http://webservice/KuwaibaWebservice/destroySessionResponse" message="tns:destroySessionResponse" />
</operation>
<operation name="getTreeNode">
<input wsam:Action="http://webservice/KuwaibaWebservice/getTreeNodeRequest" message="tns:getTreeNode" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getTreeNodeResponse" message="tns:getTreeNodeResponse" />
</operation>
<operation name="getRootNode">
<input wsam:Action="http://webservice/KuwaibaWebservice/getRootNodeRequest" message="tns:getRootNode" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getRootNodeResponse" message="tns:getRootNodeResponse" />
</operation>
<operation name="getObjectInfo">
<input wsam:Action="http://webservice/KuwaibaWebservice/getObjectInfoRequest" message="tns:getObjectInfo" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getObjectInfoResponse" message="tns:getObjectInfoResponse" />
</operation>
<operation name="updateObject">
<input wsam:Action="http://webservice/KuwaibaWebservice/updateObjectRequest" message="tns:updateObject" />
<output wsam:Action="http://webservice/KuwaibaWebservice/updateObjectResponse" message="tns:updateObjectResponse" />
</operation>
<operation name="getLastErr">
<input wsam:Action="http://webservice/KuwaibaWebservice/getLastErrRequest" message="tns:getLastErr" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getLastErrResponse" message="tns:getLastErrResponse" />
</operation>
</portType>
<binding name="KuwaibaWebservicePortBinding" type="tns:KuwaibaWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getEquipment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createSession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="destroySession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTreeNode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRootNode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getObjectInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastErr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="KuwaibaWebserviceService">
<port name="KuwaibaWebservicePort" binding="tns:KuwaibaWebservicePortBinding">
<soap:address location="http://localhost:23345/KuwaibaServer-war/KuwaibaWebserviceService" />
</port>
</service>
</definitions>
