client/KuwaibaWebserviceClient/src/META-INF/wsdl/localhost_8080/kuwaiba/KuwaibaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.kuwaiba.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.kuwaiba.org/" name="KuwaibaService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.kuwaiba.org/" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=2"/>
</xsd:schema>
</types>
<message name="getClass">
<part name="parameters" element="tns:getClass"/>
</message>
<message name="getClassResponse">
<part name="parameters" element="tns:getClassResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getObject">
<part name="parameters" element="tns:getObject"/>
</message>
<message name="getObjectResponse">
<part name="parameters" element="tns:getObjectResponse"/>
</message>
<message name="getParent">
<part name="parameters" element="tns:getParent"/>
</message>
<message name="getParentResponse">
<part name="parameters" element="tns:getParentResponse"/>
</message>
<message name="getQuery">
<part name="parameters" element="tns:getQuery"/>
</message>
<message name="getQueryResponse">
<part name="parameters" element="tns:getQueryResponse"/>
</message>
<message name="createObject">
<part name="parameters" element="tns:createObject"/>
</message>
<message name="createObjectResponse">
<part name="parameters" element="tns:createObjectResponse"/>
</message>
<message name="getAttribute">
<part name="parameters" element="tns:getAttribute"/>
</message>
<message name="getAttributeResponse">
<part name="parameters" element="tns:getAttributeResponse"/>
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"/>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"/>
</message>
<message name="getServices">
<part name="parameters" element="tns:getServices"/>
</message>
<message name="getServicesResponse">
<part name="parameters" element="tns:getServicesResponse"/>
</message>
<message name="setUserProperties">
<part name="parameters" element="tns:setUserProperties"/>
</message>
<message name="setUserPropertiesResponse">
<part name="parameters" element="tns:setUserPropertiesResponse"/>
</message>
<message name="getAllClassesLight">
<part name="parameters" element="tns:getAllClassesLight"/>
</message>
<message name="getAllClassesLightResponse">
<part name="parameters" element="tns:getAllClassesLightResponse"/>
</message>
<message name="getSubClassesLight">
<part name="parameters" element="tns:getSubClassesLight"/>
</message>
<message name="getSubClassesLightResponse">
<part name="parameters" element="tns:getSubClassesLightResponse"/>
</message>
<message name="getSubClassesLightNoRecursive">
<part name="parameters" element="tns:getSubClassesLightNoRecursive"/>
</message>
<message name="getSubClassesLightNoRecursiveResponse">
<part name="parameters" element="tns:getSubClassesLightNoRecursiveResponse"/>
</message>
<message name="setClassProperties">
<part name="parameters" element="tns:setClassProperties"/>
</message>
<message name="setClassPropertiesResponse">
<part name="parameters" element="tns:setClassPropertiesResponse"/>
</message>
<message name="setAttributeProperties">
<part name="parameters" element="tns:setAttributeProperties"/>
</message>
<message name="setAttributePropertiesResponse">
<part name="parameters" element="tns:setAttributePropertiesResponse"/>
</message>
<message name="deleteAttribute">
<part name="parameters" element="tns:deleteAttribute"/>
</message>
<message name="deleteAttributeResponse">
<part name="parameters" element="tns:deleteAttributeResponse"/>
</message>
<message name="getPossibleChildren">
<part name="parameters" element="tns:getPossibleChildren"/>
</message>
<message name="getPossibleChildrenResponse">
<part name="parameters" element="tns:getPossibleChildrenResponse"/>
</message>
<message name="getSpecialPossibleChildren">
<part name="parameters" element="tns:getSpecialPossibleChildren"/>
</message>
<message name="getSpecialPossibleChildrenResponse">
<part name="parameters" element="tns:getSpecialPossibleChildrenResponse"/>
</message>
<message name="addPossibleChildren">
<part name="parameters" element="tns:addPossibleChildren"/>
</message>
<message name="addPossibleChildrenResponse">
<part name="parameters" element="tns:addPossibleChildrenResponse"/>
</message>
<message name="createListTypeItem">
<part name="parameters" element="tns:createListTypeItem"/>
</message>
<message name="createListTypeItemResponse">
<part name="parameters" element="tns:createListTypeItemResponse"/>
</message>
<message name="deleteListTypeItem">
<part name="parameters" element="tns:deleteListTypeItem"/>
</message>
<message name="deleteListTypeItemResponse">
<part name="parameters" element="tns:deleteListTypeItemResponse"/>
</message>
<message name="getListTypeItems">
<part name="parameters" element="tns:getListTypeItems"/>
</message>
<message name="getListTypeItemsResponse">
<part name="parameters" element="tns:getListTypeItemsResponse"/>
</message>
<message name="getClassHierarchy">
<part name="parameters" element="tns:getClassHierarchy"/>
</message>
<message name="getClassHierarchyResponse">
<part name="parameters" element="tns:getClassHierarchyResponse"/>
</message>
<message name="getObjectChildren">
<part name="parameters" element="tns:getObjectChildren"/>
</message>
<message name="getObjectChildrenResponse">
<part name="parameters" element="tns:getObjectChildrenResponse"/>
</message>
<message name="getChildrenOfClass">
<part name="parameters" element="tns:getChildrenOfClass"/>
</message>
<message name="getChildrenOfClassResponse">
<part name="parameters" element="tns:getChildrenOfClassResponse"/>
</message>
<message name="getChildrenOfClassLight">
<part name="parameters" element="tns:getChildrenOfClassLight"/>
</message>
<message name="getChildrenOfClassLightResponse">
<part name="parameters" element="tns:getChildrenOfClassLightResponse"/>
</message>
<message name="getObjectLight">
<part name="parameters" element="tns:getObjectLight"/>
</message>
<message name="getObjectLightResponse">
<part name="parameters" element="tns:getObjectLightResponse"/>
</message>
<message name="getSpecialAttributes">
<part name="parameters" element="tns:getSpecialAttributes"/>
</message>
<message name="getSpecialAttributesResponse">
<part name="parameters" element="tns:getSpecialAttributesResponse"/>
</message>
<message name="getParentOfClass">
<part name="parameters" element="tns:getParentOfClass"/>
</message>
<message name="getParentOfClassResponse">
<part name="parameters" element="tns:getParentOfClassResponse"/>
</message>
<message name="getSpecialAttribute">
<part name="parameters" element="tns:getSpecialAttribute"/>
</message>
<message name="getSpecialAttributeResponse">
<part name="parameters" element="tns:getSpecialAttributeResponse"/>
</message>
<message name="getObjectSpecialChildren">
<part name="parameters" element="tns:getObjectSpecialChildren"/>
</message>
<message name="getObjectSpecialChildrenResponse">
<part name="parameters" element="tns:getObjectSpecialChildrenResponse"/>
</message>
<message name="createSpecialObject">
<part name="parameters" element="tns:createSpecialObject"/>
</message>
<message name="createSpecialObjectResponse">
<part name="parameters" element="tns:createSpecialObjectResponse"/>
</message>
<message name="getObjectsOfClassLight">
<part name="parameters" element="tns:getObjectsOfClassLight"/>
</message>
<message name="getObjectsOfClassLightResponse">
<part name="parameters" element="tns:getObjectsOfClassLightResponse"/>
</message>
<message name="getInstanceableListTypes">
<part name="parameters" element="tns:getInstanceableListTypes"/>
</message>
<message name="getInstanceableListTypesResponse">
<part name="parameters" element="tns:getInstanceableListTypesResponse"/>
</message>
<message name="connectMirrorPort">
<part name="parameters" element="tns:connectMirrorPort"/>
</message>
<message name="connectMirrorPortResponse">
<part name="parameters" element="tns:connectMirrorPortResponse"/>
</message>
<message name="releaseMirrorPort">
<part name="parameters" element="tns:releaseMirrorPort"/>
</message>
<message name="releaseMirrorPortResponse">
<part name="parameters" element="tns:releaseMirrorPortResponse"/>
</message>
<message name="createPhysicalConnection">
<part name="parameters" element="tns:createPhysicalConnection"/>
</message>
<message name="createPhysicalConnectionResponse">
<part name="parameters" element="tns:createPhysicalConnectionResponse"/>
</message>
<message name="createBulkPhysicalConnections">
<part name="parameters" element="tns:createBulkPhysicalConnections"/>
</message>
<message name="createBulkPhysicalConnectionsResponse">
<part name="parameters" element="tns:createBulkPhysicalConnectionsResponse"/>
</message>
<message name="getConnectionEndpoints">
<part name="parameters" element="tns:getConnectionEndpoints"/>
</message>
<message name="getConnectionEndpointsResponse">
<part name="parameters" element="tns:getConnectionEndpointsResponse"/>
</message>
<message name="connectPhysicalLinks">
<part name="parameters" element="tns:connectPhysicalLinks"/>
</message>
<message name="connectPhysicalLinksResponse">
<part name="parameters" element="tns:connectPhysicalLinksResponse"/>
</message>
<message name="getPhysicalPath">
<part name="parameters" element="tns:getPhysicalPath"/>
</message>
<message name="getPhysicalPathResponse">
<part name="parameters" element="tns:getPhysicalPathResponse"/>
</message>
<message name="deletePhysicalConnection">
<part name="parameters" element="tns:deletePhysicalConnection"/>
</message>
<message name="deletePhysicalConnectionResponse">
<part name="parameters" element="tns:deletePhysicalConnectionResponse"/>
</message>
<message name="associateObjectToService">
<part name="parameters" element="tns:associateObjectToService"/>
</message>
<message name="associateObjectToServiceResponse">
<part name="parameters" element="tns:associateObjectToServiceResponse"/>
</message>
<message name="releaseObjectFromService">
<part name="parameters" element="tns:releaseObjectFromService"/>
</message>
<message name="releaseObjectFromServiceResponse">
<part name="parameters" element="tns:releaseObjectFromServiceResponse"/>
</message>
<message name="getServiceResources">
<part name="parameters" element="tns:getServiceResources"/>
</message>
<message name="getServiceResourcesResponse">
<part name="parameters" element="tns:getServiceResourcesResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="setGroupProperties">
<part name="parameters" element="tns:setGroupProperties"/>
</message>
<message name="setGroupPropertiesResponse">
<part name="parameters" element="tns:setGroupPropertiesResponse"/>
</message>
<message name="createObjectRelatedView">
<part name="parameters" element="tns:createObjectRelatedView"/>
</message>
<message name="createObjectRelatedViewResponse">
<part name="parameters" element="tns:createObjectRelatedViewResponse"/>
</message>
<message name="createGeneralView">
<part name="parameters" element="tns:createGeneralView"/>
</message>
<message name="createGeneralViewResponse">
<part name="parameters" element="tns:createGeneralViewResponse"/>
</message>
<message name="getObjectRelatedView">
<part name="parameters" element="tns:getObjectRelatedView"/>
</message>
<message name="getObjectRelatedViewResponse">
<part name="parameters" element="tns:getObjectRelatedViewResponse"/>
</message>
<message name="getObjectRelatedViews">
<part name="parameters" element="tns:getObjectRelatedViews"/>
</message>
<message name="getObjectRelatedViewsResponse">
<part name="parameters" element="tns:getObjectRelatedViewsResponse"/>
</message>
<message name="getGeneralView">
<part name="parameters" element="tns:getGeneralView"/>
</message>
<message name="getGeneralViewResponse">
<part name="parameters" element="tns:getGeneralViewResponse"/>
</message>
<message name="getGeneralViews">
<part name="parameters" element="tns:getGeneralViews"/>
</message>
<message name="getGeneralViewsResponse">
<part name="parameters" element="tns:getGeneralViewsResponse"/>
</message>
<message name="updateObjectRelatedView">
<part name="parameters" element="tns:updateObjectRelatedView"/>
</message>
<message name="updateObjectRelatedViewResponse">
<part name="parameters" element="tns:updateObjectRelatedViewResponse"/>
</message>
<message name="updateGeneralView">
<part name="parameters" element="tns:updateGeneralView"/>
</message>
<message name="updateGeneralViewResponse">
<part name="parameters" element="tns:updateGeneralViewResponse"/>
</message>
<message name="deleteGeneralView">
<part name="parameters" element="tns:deleteGeneralView"/>
</message>
<message name="deleteGeneralViewResponse">
<part name="parameters" element="tns:deleteGeneralViewResponse"/>
</message>
<message name="createPoolItem">
<part name="parameters" element="tns:createPoolItem"/>
</message>
<message name="createPoolItemResponse">
<part name="parameters" element="tns:createPoolItemResponse"/>
</message>
<message name="getBusinessObjectAuditTrail">
<part name="parameters" element="tns:getBusinessObjectAuditTrail"/>
</message>
<message name="getBusinessObjectAuditTrailResponse">
<part name="parameters" element="tns:getBusinessObjectAuditTrailResponse"/>
</message>
<message name="getGeneralActivityAuditTrail">
<part name="parameters" element="tns:getGeneralActivityAuditTrail"/>
</message>
<message name="getGeneralActivityAuditTrailResponse">
<part name="parameters" element="tns:getGeneralActivityAuditTrailResponse"/>
</message>
<message name="getPoolsForParentWithId">
<part name="parameters" element="tns:getPoolsForParentWithId"/>
</message>
<message name="getPoolsForParentWithIdResponse">
<part name="parameters" element="tns:getPoolsForParentWithIdResponse"/>
</message>
<message name="getAttributeForClassWithId">
<part name="parameters" element="tns:getAttributeForClassWithId"/>
</message>
<message name="getAttributeForClassWithIdResponse">
<part name="parameters" element="tns:getAttributeForClassWithIdResponse"/>
</message>
<message name="createAttributeForClassWithId">
<part name="parameters" element="tns:createAttributeForClassWithId"/>
</message>
<message name="createAttributeForClassWithIdResponse">
<part name="parameters" element="tns:createAttributeForClassWithIdResponse"/>
</message>
<message name="deleteAttributeForClassWithId">
<part name="parameters" element="tns:deleteAttributeForClassWithId"/>
</message>
<message name="deleteAttributeForClassWithIdResponse">
<part name="parameters" element="tns:deleteAttributeForClassWithIdResponse"/>
</message>
<message name="getClassWithId">
<part name="parameters" element="tns:getClassWithId"/>
</message>
<message name="getClassWithIdResponse">
<part name="parameters" element="tns:getClassWithIdResponse"/>
</message>
<message name="deleteClassWithId">
<part name="parameters" element="tns:deleteClassWithId"/>
</message>
<message name="deleteClassWithIdResponse">
<part name="parameters" element="tns:deleteClassWithIdResponse"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="createClass">
<part name="parameters" element="tns:createClass"/>
</message>
<message name="createClassResponse">
<part name="parameters" element="tns:createClassResponse"/>
</message>
<message name="deleteClass">
<part name="parameters" element="tns:deleteClass"/>
</message>
<message name="deleteClassResponse">
<part name="parameters" element="tns:deleteClassResponse"/>
</message>
<message name="getAllClasses">
<part name="parameters" element="tns:getAllClasses"/>
</message>
<message name="getAllClassesResponse">
<part name="parameters" element="tns:getAllClassesResponse"/>
</message>
<message name="closeSession">
<part name="parameters" element="tns:closeSession"/>
</message>
<message name="closeSessionResponse">
<part name="parameters" element="tns:closeSessionResponse"/>
</message>
<message name="getSiblings">
<part name="parameters" element="tns:getSiblings"/>
</message>
<message name="getSiblingsResponse">
<part name="parameters" element="tns:getSiblingsResponse"/>
</message>
<message name="getParents">
<part name="parameters" element="tns:getParents"/>
</message>
<message name="getParentsResponse">
<part name="parameters" element="tns:getParentsResponse"/>
</message>
<message name="deleteObjects">
<part name="parameters" element="tns:deleteObjects"/>
</message>
<message name="deleteObjectsResponse">
<part name="parameters" element="tns:deleteObjectsResponse"/>
</message>
<message name="moveObjects">
<part name="parameters" element="tns:moveObjects"/>
</message>
<message name="moveObjectsResponse">
<part name="parameters" element="tns:moveObjectsResponse"/>
</message>
<message name="copyObjects">
<part name="parameters" element="tns:copyObjects"/>
</message>
<message name="copyObjectsResponse">
<part name="parameters" element="tns:copyObjectsResponse"/>
</message>
<message name="updateObject">
<part name="parameters" element="tns:updateObject"/>
</message>
<message name="updateObjectResponse">
<part name="parameters" element="tns:updateObjectResponse"/>
</message>
<message name="createService">
<part name="parameters" element="tns:createService"/>
</message>
<message name="createServiceResponse">
<part name="parameters" element="tns:createServiceResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="deleteUsers">
<part name="parameters" element="tns:deleteUsers"/>
</message>
<message name="deleteUsersResponse">
<part name="parameters" element="tns:deleteUsersResponse"/>
</message>
<message name="deleteGroups">
<part name="parameters" element="tns:deleteGroups"/>
</message>
<message name="deleteGroupsResponse">
<part name="parameters" element="tns:deleteGroupsResponse"/>
</message>
<message name="createQuery">
<part name="parameters" element="tns:createQuery"/>
</message>
<message name="createQueryResponse">
<part name="parameters" element="tns:createQueryResponse"/>
</message>
<message name="saveQuery">
<part name="parameters" element="tns:saveQuery"/>
</message>
<message name="saveQueryResponse">
<part name="parameters" element="tns:saveQueryResponse"/>
</message>
<message name="deleteQuery">
<part name="parameters" element="tns:deleteQuery"/>
</message>
<message name="deleteQueryResponse">
<part name="parameters" element="tns:deleteQueryResponse"/>
</message>
<message name="getQueries">
<part name="parameters" element="tns:getQueries"/>
</message>
<message name="getQueriesResponse">
<part name="parameters" element="tns:getQueriesResponse"/>
</message>
<message name="createPool">
<part name="parameters" element="tns:createPool"/>
</message>
<message name="createPoolResponse">
<part name="parameters" element="tns:createPoolResponse"/>
</message>
<message name="deletePools">
<part name="parameters" element="tns:deletePools"/>
</message>
<message name="deletePoolsResponse">
<part name="parameters" element="tns:deletePoolsResponse"/>
</message>
<message name="getPools">
<part name="parameters" element="tns:getPools"/>
</message>
<message name="getPoolsResponse">
<part name="parameters" element="tns:getPoolsResponse"/>
</message>
<message name="getPoolItems">
<part name="parameters" element="tns:getPoolItems"/>
</message>
<message name="getPoolItemsResponse">
<part name="parameters" element="tns:getPoolItemsResponse"/>
</message>
<message name="bulkUpload">
<part name="parameters" element="tns:bulkUpload"/>
</message>
<message name="bulkUploadResponse">
<part name="parameters" element="tns:bulkUploadResponse"/>
</message>
<message name="removePossibleChildrenForClassWithId">
<part name="parameters" element="tns:removePossibleChildrenForClassWithId"/>
</message>
<message name="removePossibleChildrenForClassWithIdResponse">
<part name="parameters" element="tns:removePossibleChildrenForClassWithIdResponse"/>
</message>
<message name="addPossibleChildrenForClassWithId">
<part name="parameters" element="tns:addPossibleChildrenForClassWithId"/>
</message>
<message name="addPossibleChildrenForClassWithIdResponse">
<part name="parameters" element="tns:addPossibleChildrenForClassWithIdResponse"/>
</message>
<message name="getObjectChildrenForClassWithId">
<part name="parameters" element="tns:getObjectChildrenForClassWithId"/>
</message>
<message name="getObjectChildrenForClassWithIdResponse">
<part name="parameters" element="tns:getObjectChildrenForClassWithIdResponse"/>
</message>
<message name="setAttributePropertiesForClassWithId">
<part name="parameters" element="tns:setAttributePropertiesForClassWithId"/>
</message>
<message name="setAttributePropertiesForClassWithIdResponse">
<part name="parameters" element="tns:setAttributePropertiesForClassWithIdResponse"/>
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession"/>
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse"/>
</message>
<message name="createAttribute">
<part name="parameters" element="tns:createAttribute"/>
</message>
<message name="createAttributeResponse">
<part name="parameters" element="tns:createAttributeResponse"/>
</message>
<message name="executeQuery">
<part name="parameters" element="tns:executeQuery"/>
</message>
<message name="executeQueryResponse">
<part name="parameters" element="tns:executeQueryResponse"/>
</message>
<message name="getUpstreamContainmentHierarchy">
<part name="parameters" element="tns:getUpstreamContainmentHierarchy"/>
</message>
<message name="getUpstreamContainmentHierarchyResponse">
<part name="parameters" element="tns:getUpstreamContainmentHierarchyResponse"/>
</message>
<message name="getApplicationObjectAuditTrail">
<part name="parameters" element="tns:getApplicationObjectAuditTrail"/>
</message>
<message name="getApplicationObjectAuditTrailResponse">
<part name="parameters" element="tns:getApplicationObjectAuditTrailResponse"/>
</message>
<message name="getPossibleChildrenNoRecursive">
<part name="parameters" element="tns:getPossibleChildrenNoRecursive"/>
</message>
<message name="getPossibleChildrenNoRecursiveResponse">
<part name="parameters" element="tns:getPossibleChildrenNoRecursiveResponse"/>
</message>
<message name="downloadBulkLoadLog">
<part name="parameters" element="tns:downloadBulkLoadLog"/>
</message>
<message name="downloadBulkLoadLogResponse">
<part name="parameters" element="tns:downloadBulkLoadLogResponse"/>
</message>
<portType name="Kuwaiba">
<operation name="getClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassRequest" message="tns:getClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassResponse" message="tns:getClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClass/Fault/Exception"/>
</operation>
<operation name="getObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRequest" message="tns:getObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectResponse" message="tns:getObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObject/Fault/Exception"/>
</operation>
<operation name="getParent">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentRequest" message="tns:getParent"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentResponse" message="tns:getParentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParent/Fault/Exception"/>
</operation>
<operation name="getQuery">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQueryRequest" message="tns:getQuery"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQueryResponse" message="tns:getQueryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQuery/Fault/Exception"/>
</operation>
<operation name="createObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectRequest" message="tns:createObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectResponse" message="tns:createObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObject/Fault/Exception"/>
</operation>
<operation name="getAttribute">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttributeRequest" message="tns:getAttribute"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttributeResponse" message="tns:getAttributeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttribute/Fault/Exception"/>
</operation>
<operation name="createGroup">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGroupRequest" message="tns:createGroup"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGroupResponse" message="tns:createGroupResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGroup/Fault/Exception"/>
</operation>
<operation name="getServices">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServicesRequest" message="tns:getServices"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServicesResponse" message="tns:getServicesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServices/Fault/Exception"/>
</operation>
<operation name="setUserProperties">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setUserPropertiesRequest" message="tns:setUserProperties"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setUserPropertiesResponse" message="tns:setUserPropertiesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setUserProperties/Fault/Exception"/>
</operation>
<operation name="getAllClassesLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClassesLightRequest" message="tns:getAllClassesLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClassesLightResponse" message="tns:getAllClassesLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClassesLight/Fault/Exception"/>
</operation>
<operation name="getSubClassesLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLightRequest" message="tns:getSubClassesLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLightResponse" message="tns:getSubClassesLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLight/Fault/Exception"/>
</operation>
<operation name="getSubClassesLightNoRecursive">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLightNoRecursiveRequest" message="tns:getSubClassesLightNoRecursive"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLightNoRecursiveResponse" message="tns:getSubClassesLightNoRecursiveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSubClassesLightNoRecursive/Fault/Exception"/>
</operation>
<operation name="setClassProperties">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassPropertiesRequest" message="tns:setClassProperties"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassPropertiesResponse" message="tns:setClassPropertiesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassProperties/Fault/Exception"/>
</operation>
<operation name="setAttributeProperties">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributePropertiesRequest" message="tns:setAttributeProperties"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributePropertiesResponse" message="tns:setAttributePropertiesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributeProperties/Fault/Exception"/>
</operation>
<operation name="deleteAttribute">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttributeRequest" message="tns:deleteAttribute"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttributeResponse" message="tns:deleteAttributeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttribute/Fault/Exception"/>
</operation>
<operation name="getPossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenRequest" message="tns:getPossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenResponse" message="tns:getPossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildren/Fault/Exception"/>
</operation>
<operation name="getSpecialPossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialPossibleChildrenRequest" message="tns:getSpecialPossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialPossibleChildrenResponse" message="tns:getSpecialPossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialPossibleChildren/Fault/Exception"/>
</operation>
<operation name="addPossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenRequest" message="tns:addPossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenResponse" message="tns:addPossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildren/Fault/Exception"/>
</operation>
<operation name="createListTypeItem">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createListTypeItemRequest" message="tns:createListTypeItem"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createListTypeItemResponse" message="tns:createListTypeItemResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createListTypeItem/Fault/Exception"/>
</operation>
<operation name="deleteListTypeItem">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteListTypeItemRequest" message="tns:deleteListTypeItem"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteListTypeItemResponse" message="tns:deleteListTypeItemResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteListTypeItem/Fault/Exception"/>
</operation>
<operation name="getListTypeItems">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getListTypeItemsRequest" message="tns:getListTypeItems"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getListTypeItemsResponse" message="tns:getListTypeItemsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getListTypeItems/Fault/Exception"/>
</operation>
<operation name="getClassHierarchy">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassHierarchyRequest" message="tns:getClassHierarchy"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassHierarchyResponse" message="tns:getClassHierarchyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassHierarchy/Fault/Exception"/>
</operation>
<operation name="getObjectChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenRequest" message="tns:getObjectChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenResponse" message="tns:getObjectChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildren/Fault/Exception"/>
</operation>
<operation name="getChildrenOfClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassRequest" message="tns:getChildrenOfClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassResponse" message="tns:getChildrenOfClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClass/Fault/Exception"/>
</operation>
<operation name="getChildrenOfClassLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLightRequest" message="tns:getChildrenOfClassLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLightResponse" message="tns:getChildrenOfClassLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLight/Fault/Exception"/>
</operation>
<operation name="getObjectLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectLightRequest" message="tns:getObjectLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectLightResponse" message="tns:getObjectLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectLight/Fault/Exception"/>
</operation>
<operation name="getSpecialAttributes">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttributesRequest" message="tns:getSpecialAttributes"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttributesResponse" message="tns:getSpecialAttributesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttributes/Fault/Exception"/>
</operation>
<operation name="getParentOfClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentOfClassRequest" message="tns:getParentOfClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentOfClassResponse" message="tns:getParentOfClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentOfClass/Fault/Exception"/>
</operation>
<operation name="getSpecialAttribute">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttributeRequest" message="tns:getSpecialAttribute"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttributeResponse" message="tns:getSpecialAttributeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSpecialAttribute/Fault/Exception"/>
</operation>
<operation name="getObjectSpecialChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectSpecialChildrenRequest" message="tns:getObjectSpecialChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectSpecialChildrenResponse" message="tns:getObjectSpecialChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectSpecialChildren/Fault/Exception"/>
</operation>
<operation name="createSpecialObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSpecialObjectRequest" message="tns:createSpecialObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSpecialObjectResponse" message="tns:createSpecialObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSpecialObject/Fault/Exception"/>
</operation>
<operation name="getObjectsOfClassLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectsOfClassLightRequest" message="tns:getObjectsOfClassLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectsOfClassLightResponse" message="tns:getObjectsOfClassLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectsOfClassLight/Fault/Exception"/>
</operation>
<operation name="getInstanceableListTypes">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getInstanceableListTypesRequest" message="tns:getInstanceableListTypes"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getInstanceableListTypesResponse" message="tns:getInstanceableListTypesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getInstanceableListTypes/Fault/Exception"/>
</operation>
<operation name="connectMirrorPort">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectMirrorPortRequest" message="tns:connectMirrorPort"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectMirrorPortResponse" message="tns:connectMirrorPortResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectMirrorPort/Fault/Exception"/>
</operation>
<operation name="releaseMirrorPort">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseMirrorPortRequest" message="tns:releaseMirrorPort"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseMirrorPortResponse" message="tns:releaseMirrorPortResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseMirrorPort/Fault/Exception"/>
</operation>
<operation name="createPhysicalConnection">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPhysicalConnectionRequest" message="tns:createPhysicalConnection"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPhysicalConnectionResponse" message="tns:createPhysicalConnectionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPhysicalConnection/Fault/Exception"/>
</operation>
<operation name="createBulkPhysicalConnections">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createBulkPhysicalConnectionsRequest" message="tns:createBulkPhysicalConnections"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createBulkPhysicalConnectionsResponse" message="tns:createBulkPhysicalConnectionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createBulkPhysicalConnections/Fault/Exception"/>
</operation>
<operation name="getConnectionEndpoints">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getConnectionEndpointsRequest" message="tns:getConnectionEndpoints"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getConnectionEndpointsResponse" message="tns:getConnectionEndpointsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getConnectionEndpoints/Fault/Exception"/>
</operation>
<operation name="connectPhysicalLinks">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectPhysicalLinksRequest" message="tns:connectPhysicalLinks"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectPhysicalLinksResponse" message="tns:connectPhysicalLinksResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/connectPhysicalLinks/Fault/Exception"/>
</operation>
<operation name="getPhysicalPath">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPhysicalPathRequest" message="tns:getPhysicalPath"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPhysicalPathResponse" message="tns:getPhysicalPathResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPhysicalPath/Fault/Exception"/>
</operation>
<operation name="deletePhysicalConnection">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePhysicalConnectionRequest" message="tns:deletePhysicalConnection"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePhysicalConnectionResponse" message="tns:deletePhysicalConnectionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePhysicalConnection/Fault/Exception"/>
</operation>
<operation name="associateObjectToService">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/associateObjectToServiceRequest" message="tns:associateObjectToService"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/associateObjectToServiceResponse" message="tns:associateObjectToServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/associateObjectToService/Fault/Exception"/>
</operation>
<operation name="releaseObjectFromService">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseObjectFromServiceRequest" message="tns:releaseObjectFromService"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseObjectFromServiceResponse" message="tns:releaseObjectFromServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/releaseObjectFromService/Fault/Exception"/>
</operation>
<operation name="getServiceResources">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServiceResourcesRequest" message="tns:getServiceResources"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServiceResourcesResponse" message="tns:getServiceResourcesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getServiceResources/Fault/Exception"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createCustomerResponse" message="tns:createCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createCustomer/Fault/Exception"/>
</operation>
<operation name="setGroupProperties">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setGroupPropertiesRequest" message="tns:setGroupProperties"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setGroupPropertiesResponse" message="tns:setGroupPropertiesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setGroupProperties/Fault/Exception"/>
</operation>
<operation name="createObjectRelatedView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectRelatedViewRequest" message="tns:createObjectRelatedView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectRelatedViewResponse" message="tns:createObjectRelatedViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectRelatedView/Fault/Exception"/>
</operation>
<operation name="createGeneralView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGeneralViewRequest" message="tns:createGeneralView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGeneralViewResponse" message="tns:createGeneralViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createGeneralView/Fault/Exception"/>
</operation>
<operation name="getObjectRelatedView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedViewRequest" message="tns:getObjectRelatedView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedViewResponse" message="tns:getObjectRelatedViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedView/Fault/Exception"/>
</operation>
<operation name="getObjectRelatedViews">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedViewsRequest" message="tns:getObjectRelatedViews"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedViewsResponse" message="tns:getObjectRelatedViewsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectRelatedViews/Fault/Exception"/>
</operation>
<operation name="getGeneralView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralViewRequest" message="tns:getGeneralView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralViewResponse" message="tns:getGeneralViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralView/Fault/Exception"/>
</operation>
<operation name="getGeneralViews">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralViewsRequest" message="tns:getGeneralViews"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralViewsResponse" message="tns:getGeneralViewsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralViews/Fault/Exception"/>
</operation>
<operation name="updateObjectRelatedView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectRelatedViewRequest" message="tns:updateObjectRelatedView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectRelatedViewResponse" message="tns:updateObjectRelatedViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectRelatedView/Fault/Exception"/>
</operation>
<operation name="updateGeneralView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateGeneralViewRequest" message="tns:updateGeneralView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateGeneralViewResponse" message="tns:updateGeneralViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateGeneralView/Fault/Exception"/>
</operation>
<operation name="deleteGeneralView">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGeneralViewRequest" message="tns:deleteGeneralView"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGeneralViewResponse" message="tns:deleteGeneralViewResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGeneralView/Fault/Exception"/>
</operation>
<operation name="createPoolItem">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPoolItemRequest" message="tns:createPoolItem"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPoolItemResponse" message="tns:createPoolItemResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPoolItem/Fault/Exception"/>
</operation>
<operation name="getBusinessObjectAuditTrail">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getBusinessObjectAuditTrailRequest" message="tns:getBusinessObjectAuditTrail"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getBusinessObjectAuditTrailResponse" message="tns:getBusinessObjectAuditTrailResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getBusinessObjectAuditTrail/Fault/Exception"/>
</operation>
<operation name="getGeneralActivityAuditTrail">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralActivityAuditTrailRequest" message="tns:getGeneralActivityAuditTrail"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralActivityAuditTrailResponse" message="tns:getGeneralActivityAuditTrailResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGeneralActivityAuditTrail/Fault/Exception"/>
</operation>
<operation name="getPoolsForParentWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolsForParentWithIdRequest" message="tns:getPoolsForParentWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolsForParentWithIdResponse" message="tns:getPoolsForParentWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolsForParentWithId/Fault/Exception"/>
</operation>
<operation name="getAttributeForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttributeForClassWithIdRequest" message="tns:getAttributeForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttributeForClassWithIdResponse" message="tns:getAttributeForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAttributeForClassWithId/Fault/Exception"/>
</operation>
<operation name="createAttributeForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttributeForClassWithIdRequest" message="tns:createAttributeForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttributeForClassWithIdResponse" message="tns:createAttributeForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttributeForClassWithId/Fault/Exception"/>
</operation>
<operation name="deleteAttributeForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttributeForClassWithIdRequest" message="tns:deleteAttributeForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttributeForClassWithIdResponse" message="tns:deleteAttributeForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteAttributeForClassWithId/Fault/Exception"/>
</operation>
<operation name="getClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassWithIdRequest" message="tns:getClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassWithIdResponse" message="tns:getClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getClassWithId/Fault/Exception"/>
</operation>
<operation name="deleteClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassWithIdRequest" message="tns:deleteClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassWithIdResponse" message="tns:deleteClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassWithId/Fault/Exception"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGroupsResponse" message="tns:getGroupsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getGroups/Fault/Exception"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createUser/Fault/Exception"/>
</operation>
<operation name="createClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClassRequest" message="tns:createClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClassResponse" message="tns:createClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClass/Fault/Exception"/>
</operation>
<operation name="deleteClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassRequest" message="tns:deleteClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassResponse" message="tns:deleteClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClass/Fault/Exception"/>
</operation>
<operation name="getAllClasses">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClassesRequest" message="tns:getAllClasses"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClassesResponse" message="tns:getAllClassesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getAllClasses/Fault/Exception"/>
</operation>
<operation name="closeSession">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSessionRequest" message="tns:closeSession"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSessionResponse" message="tns:closeSessionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSession/Fault/Exception"/>
</operation>
<operation name="getSiblings">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSiblingsRequest" message="tns:getSiblings"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSiblingsResponse" message="tns:getSiblingsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getSiblings/Fault/Exception"/>
</operation>
<operation name="getParents">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentsRequest" message="tns:getParents"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParentsResponse" message="tns:getParentsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getParents/Fault/Exception"/>
</operation>
<operation name="deleteObjects">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteObjectsRequest" message="tns:deleteObjects"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteObjectsResponse" message="tns:deleteObjectsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteObjects/Fault/Exception"/>
</operation>
<operation name="moveObjects">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/moveObjectsRequest" message="tns:moveObjects"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/moveObjectsResponse" message="tns:moveObjectsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/moveObjects/Fault/Exception"/>
</operation>
<operation name="copyObjects">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/copyObjectsRequest" message="tns:copyObjects"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/copyObjectsResponse" message="tns:copyObjectsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/copyObjects/Fault/Exception"/>
</operation>
<operation name="updateObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectRequest" message="tns:updateObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectResponse" message="tns:updateObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObject/Fault/Exception"/>
</operation>
<operation name="createService">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createServiceRequest" message="tns:createService"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createServiceResponse" message="tns:createServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createService/Fault/Exception"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUsersResponse" message="tns:getUsersResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUsers/Fault/Exception"/>
</operation>
<operation name="deleteUsers">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteUsersRequest" message="tns:deleteUsers"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteUsersResponse" message="tns:deleteUsersResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteUsers/Fault/Exception"/>
</operation>
<operation name="deleteGroups">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGroupsRequest" message="tns:deleteGroups"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGroupsResponse" message="tns:deleteGroupsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteGroups/Fault/Exception"/>
</operation>
<operation name="createQuery">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createQueryRequest" message="tns:createQuery"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createQueryResponse" message="tns:createQueryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createQuery/Fault/Exception"/>
</operation>
<operation name="saveQuery">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/saveQueryRequest" message="tns:saveQuery"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/saveQueryResponse" message="tns:saveQueryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/saveQuery/Fault/Exception"/>
</operation>
<operation name="deleteQuery">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteQueryRequest" message="tns:deleteQuery"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteQueryResponse" message="tns:deleteQueryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteQuery/Fault/Exception"/>
</operation>
<operation name="getQueries">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQueriesRequest" message="tns:getQueries"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQueriesResponse" message="tns:getQueriesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getQueries/Fault/Exception"/>
</operation>
<operation name="createPool">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPoolRequest" message="tns:createPool"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPoolResponse" message="tns:createPoolResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createPool/Fault/Exception"/>
</operation>
<operation name="deletePools">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePoolsRequest" message="tns:deletePools"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePoolsResponse" message="tns:deletePoolsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deletePools/Fault/Exception"/>
</operation>
<operation name="getPools">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolsRequest" message="tns:getPools"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolsResponse" message="tns:getPoolsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPools/Fault/Exception"/>
</operation>
<operation name="getPoolItems">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolItemsRequest" message="tns:getPoolItems"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolItemsResponse" message="tns:getPoolItemsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPoolItems/Fault/Exception"/>
</operation>
<operation name="bulkUpload">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/bulkUploadRequest" message="tns:bulkUpload"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/bulkUploadResponse" message="tns:bulkUploadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/bulkUpload/Fault/Exception"/>
</operation>
<operation name="removePossibleChildrenForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildrenForClassWithIdRequest" message="tns:removePossibleChildrenForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildrenForClassWithIdResponse" message="tns:removePossibleChildrenForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildrenForClassWithId/Fault/Exception"/>
</operation>
<operation name="addPossibleChildrenForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenForClassWithIdRequest" message="tns:addPossibleChildrenForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenForClassWithIdResponse" message="tns:addPossibleChildrenForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenForClassWithId/Fault/Exception"/>
</operation>
<operation name="getObjectChildrenForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenForClassWithIdRequest" message="tns:getObjectChildrenForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenForClassWithIdResponse" message="tns:getObjectChildrenForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenForClassWithId/Fault/Exception"/>
</operation>
<operation name="setAttributePropertiesForClassWithId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributePropertiesForClassWithIdRequest" message="tns:setAttributePropertiesForClassWithId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributePropertiesForClassWithIdResponse" message="tns:setAttributePropertiesForClassWithIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setAttributePropertiesForClassWithId/Fault/Exception"/>
</operation>
<operation name="createSession">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSessionRequest" message="tns:createSession"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSessionResponse" message="tns:createSessionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSession/Fault/Exception"/>
</operation>
<operation name="createAttribute">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttributeRequest" message="tns:createAttribute"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttributeResponse" message="tns:createAttributeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createAttribute/Fault/Exception"/>
</operation>
<operation name="executeQuery">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/executeQueryRequest" message="tns:executeQuery"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/executeQueryResponse" message="tns:executeQueryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/executeQuery/Fault/Exception"/>
</operation>
<operation name="getUpstreamContainmentHierarchy">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUpstreamContainmentHierarchyRequest" message="tns:getUpstreamContainmentHierarchy"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUpstreamContainmentHierarchyResponse" message="tns:getUpstreamContainmentHierarchyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getUpstreamContainmentHierarchy/Fault/Exception"/>
</operation>
<operation name="getApplicationObjectAuditTrail">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getApplicationObjectAuditTrailRequest" message="tns:getApplicationObjectAuditTrail"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getApplicationObjectAuditTrailResponse" message="tns:getApplicationObjectAuditTrailResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getApplicationObjectAuditTrail/Fault/Exception"/>
</operation>
<operation name="getPossibleChildrenNoRecursive">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursiveRequest" message="tns:getPossibleChildrenNoRecursive"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursiveResponse" message="tns:getPossibleChildrenNoRecursiveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursive/Fault/Exception"/>
</operation>
<operation name="downloadBulkLoadLog">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/downloadBulkLoadLogRequest" message="tns:downloadBulkLoadLog"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/downloadBulkLoadLogResponse" message="tns:downloadBulkLoadLogResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/downloadBulkLoadLog/Fault/Exception"/>
</operation>
</portType>
<binding name="KuwaibaPortBinding" type="tns:Kuwaiba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getParent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setUserProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllClassesLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSubClassesLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSubClassesLightNoRecursive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setClassProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setAttributeProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSpecialPossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addPossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createListTypeItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteListTypeItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getListTypeItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getClassHierarchy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getChildrenOfClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getChildrenOfClassLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSpecialAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getParentOfClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSpecialAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectSpecialChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createSpecialObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectsOfClassLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getInstanceableListTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="connectMirrorPort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="releaseMirrorPort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createPhysicalConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createBulkPhysicalConnections">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getConnectionEndpoints">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="connectPhysicalLinks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPhysicalPath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deletePhysicalConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="associateObjectToService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="releaseObjectFromService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getServiceResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setGroupProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createObjectRelatedView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createGeneralView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectRelatedView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectRelatedViews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getGeneralView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getGeneralViews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateObjectRelatedView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateGeneralView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteGeneralView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createPoolItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getBusinessObjectAuditTrail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getGeneralActivityAuditTrail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPoolsForParentWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAttributeForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createAttributeForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteAttributeForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="closeSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSiblings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getParents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="moveObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="copyObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="saveQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getQueries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createPool">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deletePools">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPools">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPoolItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="bulkUpload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removePossibleChildrenForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addPossibleChildrenForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectChildrenForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setAttributePropertiesForClassWithId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="executeQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getUpstreamContainmentHierarchy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getApplicationObjectAuditTrail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPossibleChildrenNoRecursive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="downloadBulkLoadLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="KuwaibaService">
<port name="KuwaibaPort" binding="tns:KuwaibaPortBinding">
<soap:address location="http://localhost:8080/kuwaiba/KuwaibaService"/>
</port>
</service>
</definitions>