client/KuwaibaWebserviceClient/src/META-INF/wsdl/localhost_8080/kuwaiba/KuwaibaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.kuwaiba.org/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.kuwaiba.org/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=2"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addPossibleChildren" type="tns:addPossibleChildren"/>

<xs:element name="addPossibleChildrenForClassWithId" type="tns:addPossibleChildrenForClassWithId"/>

<xs:element name="addPossibleChildrenForClassWithIdResponse" type="tns:addPossibleChildrenForClassWithIdResponse"/>

<xs:element name="addPossibleChildrenResponse" type="tns:addPossibleChildrenResponse"/>

<xs:element name="associateObjectToService" type="tns:associateObjectToService"/>

<xs:element name="associateObjectToServiceResponse" type="tns:associateObjectToServiceResponse"/>

<xs:element name="bulkUpload" type="tns:bulkUpload"/>

<xs:element name="bulkUploadResponse" type="tns:bulkUploadResponse"/>

<xs:element name="closeSession" type="tns:closeSession"/>

<xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>

<xs:element name="connectMirrorPort" type="tns:connectMirrorPort"/>

<xs:element name="connectMirrorPortResponse" type="tns:connectMirrorPortResponse"/>

<xs:element name="connectPhysicalLinks" type="tns:connectPhysicalLinks"/>

<xs:element name="connectPhysicalLinksResponse" type="tns:connectPhysicalLinksResponse"/>

<xs:element name="copyObjects" type="tns:copyObjects"/>

<xs:element name="copyObjectsResponse" type="tns:copyObjectsResponse"/>

<xs:element name="createAttribute" type="tns:createAttribute"/>

<xs:element name="createAttributeForClassWithId" type="tns:createAttributeForClassWithId"/>

<xs:element name="createAttributeForClassWithIdResponse" type="tns:createAttributeForClassWithIdResponse"/>

<xs:element name="createAttributeResponse" type="tns:createAttributeResponse"/>

<xs:element name="createBulkPhysicalConnections" type="tns:createBulkPhysicalConnections"/>

<xs:element name="createBulkPhysicalConnectionsResponse" type="tns:createBulkPhysicalConnectionsResponse"/>

<xs:element name="createClass" type="tns:createClass"/>

<xs:element name="createClassResponse" type="tns:createClassResponse"/>

<xs:element name="createCustomer" type="tns:createCustomer"/>

<xs:element name="createCustomerResponse" type="tns:createCustomerResponse"/>

<xs:element name="createGeneralView" type="tns:createGeneralView"/>

<xs:element name="createGeneralViewResponse" type="tns:createGeneralViewResponse"/>

<xs:element name="createGroup" type="tns:createGroup"/>

<xs:element name="createGroupResponse" type="tns:createGroupResponse"/>

<xs:element name="createListTypeItem" type="tns:createListTypeItem"/>

<xs:element name="createListTypeItemResponse" type="tns:createListTypeItemResponse"/>

<xs:element name="createObject" type="tns:createObject"/>

<xs:element name="createObjectRelatedView" type="tns:createObjectRelatedView"/>

<xs:element name="createObjectRelatedViewResponse" type="tns:createObjectRelatedViewResponse"/>

<xs:element name="createObjectResponse" type="tns:createObjectResponse"/>

<xs:element name="createPhysicalConnection" type="tns:createPhysicalConnection"/>

<xs:element name="createPhysicalConnectionResponse" type="tns:createPhysicalConnectionResponse"/>

<xs:element name="createPool" type="tns:createPool"/>

<xs:element name="createPoolItem" type="tns:createPoolItem"/>

<xs:element name="createPoolItemResponse" type="tns:createPoolItemResponse"/>

<xs:element name="createPoolResponse" type="tns:createPoolResponse"/>

<xs:element name="createQuery" type="tns:createQuery"/>

<xs:element name="createQueryResponse" type="tns:createQueryResponse"/>

<xs:element name="createService" type="tns:createService"/>

<xs:element name="createServiceResponse" type="tns:createServiceResponse"/>

<xs:element name="createSession" type="tns:createSession"/>

<xs:element name="createSessionResponse" type="tns:createSessionResponse"/>

<xs:element name="createSpecialObject" type="tns:createSpecialObject"/>

<xs:element name="createSpecialObjectResponse" type="tns:createSpecialObjectResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="deleteAttribute" type="tns:deleteAttribute"/>

<xs:element name="deleteAttributeForClassWithId" type="tns:deleteAttributeForClassWithId"/>

<xs:element name="deleteAttributeForClassWithIdResponse" type="tns:deleteAttributeForClassWithIdResponse"/>

<xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse"/>

<xs:element name="deleteClass" type="tns:deleteClass"/>

<xs:element name="deleteClassResponse" type="tns:deleteClassResponse"/>

<xs:element name="deleteClassWithId" type="tns:deleteClassWithId"/>

<xs:element name="deleteClassWithIdResponse" type="tns:deleteClassWithIdResponse"/>

<xs:element name="deleteGeneralView" type="tns:deleteGeneralView"/>

<xs:element name="deleteGeneralViewResponse" type="tns:deleteGeneralViewResponse"/>

<xs:element name="deleteGroups" type="tns:deleteGroups"/>

<xs:element name="deleteGroupsResponse" type="tns:deleteGroupsResponse"/>

<xs:element name="deleteListTypeItem" type="tns:deleteListTypeItem"/>

<xs:element name="deleteListTypeItemResponse" type="tns:deleteListTypeItemResponse"/>

<xs:element name="deleteObjects" type="tns:deleteObjects"/>

<xs:element name="deleteObjectsResponse" type="tns:deleteObjectsResponse"/>

<xs:element name="deletePhysicalConnection" type="tns:deletePhysicalConnection"/>

<xs:element name="deletePhysicalConnectionResponse" type="tns:deletePhysicalConnectionResponse"/>

<xs:element name="deletePools" type="tns:deletePools"/>

<xs:element name="deletePoolsResponse" type="tns:deletePoolsResponse"/>

<xs:element name="deleteQuery" type="tns:deleteQuery"/>

<xs:element name="deleteQueryResponse" type="tns:deleteQueryResponse"/>

<xs:element name="deleteUsers" type="tns:deleteUsers"/>

<xs:element name="deleteUsersResponse" type="tns:deleteUsersResponse"/>

<xs:element name="downloadBulkLoadLog" type="tns:downloadBulkLoadLog"/>

<xs:element name="downloadBulkLoadLogResponse" type="tns:downloadBulkLoadLogResponse"/>

<xs:element name="executeQuery" type="tns:executeQuery"/>

<xs:element name="executeQueryResponse" type="tns:executeQueryResponse"/>

<xs:element name="getAllClasses" type="tns:getAllClasses"/>

<xs:element name="getAllClassesLight" type="tns:getAllClassesLight"/>

<xs:element name="getAllClassesLightResponse" type="tns:getAllClassesLightResponse"/>

<xs:element name="getAllClassesResponse" type="tns:getAllClassesResponse"/>

<xs:element name="getApplicationObjectAuditTrail" type="tns:getApplicationObjectAuditTrail"/>

<xs:element name="getApplicationObjectAuditTrailResponse" type="tns:getApplicationObjectAuditTrailResponse"/>

<xs:element name="getAttribute" type="tns:getAttribute"/>

<xs:element name="getAttributeForClassWithId" type="tns:getAttributeForClassWithId"/>

<xs:element name="getAttributeForClassWithIdResponse" type="tns:getAttributeForClassWithIdResponse"/>

<xs:element name="getAttributeResponse" type="tns:getAttributeResponse"/>

<xs:element name="getBusinessObjectAuditTrail" type="tns:getBusinessObjectAuditTrail"/>

<xs:element name="getBusinessObjectAuditTrailResponse" type="tns:getBusinessObjectAuditTrailResponse"/>

<xs:element name="getChildrenOfClass" type="tns:getChildrenOfClass"/>

<xs:element name="getChildrenOfClassLight" type="tns:getChildrenOfClassLight"/>

<xs:element name="getChildrenOfClassLightResponse" type="tns:getChildrenOfClassLightResponse"/>

<xs:element name="getChildrenOfClassResponse" type="tns:getChildrenOfClassResponse"/>

<xs:element name="getClass" type="tns:getClass"/>

<xs:element name="getClassHierarchy" type="tns:getClassHierarchy"/>

<xs:element name="getClassHierarchyResponse" type="tns:getClassHierarchyResponse"/>

<xs:element name="getClassResponse" type="tns:getClassResponse"/>

<xs:element name="getClassWithId" type="tns:getClassWithId"/>

<xs:element name="getClassWithIdResponse" type="tns:getClassWithIdResponse"/>

<xs:element name="getConnectionEndpoints" type="tns:getConnectionEndpoints"/>

<xs:element name="getConnectionEndpointsResponse" type="tns:getConnectionEndpointsResponse"/>

<xs:element name="getGeneralActivityAuditTrail" type="tns:getGeneralActivityAuditTrail"/>

<xs:element name="getGeneralActivityAuditTrailResponse" type="tns:getGeneralActivityAuditTrailResponse"/>

<xs:element name="getGeneralView" type="tns:getGeneralView"/>

<xs:element name="getGeneralViewResponse" type="tns:getGeneralViewResponse"/>

<xs:element name="getGeneralViews" type="tns:getGeneralViews"/>

<xs:element name="getGeneralViewsResponse" type="tns:getGeneralViewsResponse"/>

<xs:element name="getGroups" type="tns:getGroups"/>

<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

<xs:element name="getInstanceableListTypes" type="tns:getInstanceableListTypes"/>

<xs:element name="getInstanceableListTypesResponse" type="tns:getInstanceableListTypesResponse"/>

<xs:element name="getListTypeItems" type="tns:getListTypeItems"/>

<xs:element name="getListTypeItemsResponse" type="tns:getListTypeItemsResponse"/>

<xs:element name="getObject" type="tns:getObject"/>

<xs:element name="getObjectChildren" type="tns:getObjectChildren"/>

<xs:element name="getObjectChildrenForClassWithId" type="tns:getObjectChildrenForClassWithId"/>

<xs:element name="getObjectChildrenForClassWithIdResponse" type="tns:getObjectChildrenForClassWithIdResponse"/>

<xs:element name="getObjectChildrenResponse" type="tns:getObjectChildrenResponse"/>

<xs:element name="getObjectLight" type="tns:getObjectLight"/>

<xs:element name="getObjectLightResponse" type="tns:getObjectLightResponse"/>

<xs:element name="getObjectRelatedView" type="tns:getObjectRelatedView"/>

<xs:element name="getObjectRelatedViewResponse" type="tns:getObjectRelatedViewResponse"/>

<xs:element name="getObjectRelatedViews" type="tns:getObjectRelatedViews"/>

<xs:element name="getObjectRelatedViewsResponse" type="tns:getObjectRelatedViewsResponse"/>

<xs:element name="getObjectResponse" type="tns:getObjectResponse"/>

<xs:element name="getObjectSpecialChildren" type="tns:getObjectSpecialChildren"/>

<xs:element name="getObjectSpecialChildrenResponse" type="tns:getObjectSpecialChildrenResponse"/>

<xs:element name="getObjectsOfClassLight" type="tns:getObjectsOfClassLight"/>

<xs:element name="getObjectsOfClassLightResponse" type="tns:getObjectsOfClassLightResponse"/>

<xs:element name="getParent" type="tns:getParent"/>

<xs:element name="getParentOfClass" type="tns:getParentOfClass"/>

<xs:element name="getParentOfClassResponse" type="tns:getParentOfClassResponse"/>

<xs:element name="getParentResponse" type="tns:getParentResponse"/>

<xs:element name="getParents" type="tns:getParents"/>

<xs:element name="getParentsResponse" type="tns:getParentsResponse"/>

<xs:element name="getPhysicalPath" type="tns:getPhysicalPath"/>

<xs:element name="getPhysicalPathResponse" type="tns:getPhysicalPathResponse"/>

<xs:element name="getPoolItems" type="tns:getPoolItems"/>

<xs:element name="getPoolItemsResponse" type="tns:getPoolItemsResponse"/>

<xs:element name="getPools" type="tns:getPools"/>

<xs:element name="getPoolsForParentWithId" type="tns:getPoolsForParentWithId"/>

<xs:element name="getPoolsForParentWithIdResponse" type="tns:getPoolsForParentWithIdResponse"/>

<xs:element name="getPoolsResponse" type="tns:getPoolsResponse"/>

<xs:element name="getPossibleChildren" type="tns:getPossibleChildren"/>

<xs:element name="getPossibleChildrenNoRecursive" type="tns:getPossibleChildrenNoRecursive"/>

<xs:element name="getPossibleChildrenNoRecursiveResponse" type="tns:getPossibleChildrenNoRecursiveResponse"/>

<xs:element name="getPossibleChildrenResponse" type="tns:getPossibleChildrenResponse"/>

<xs:element name="getQueries" type="tns:getQueries"/>

<xs:element name="getQueriesResponse" type="tns:getQueriesResponse"/>

<xs:element name="getQuery" type="tns:getQuery"/>

<xs:element name="getQueryResponse" type="tns:getQueryResponse"/>

<xs:element name="getServiceResources" type="tns:getServiceResources"/>

<xs:element name="getServiceResourcesResponse" type="tns:getServiceResourcesResponse"/>

<xs:element name="getServices" type="tns:getServices"/>

<xs:element name="getServicesResponse" type="tns:getServicesResponse"/>

<xs:element name="getSiblings" type="tns:getSiblings"/>

<xs:element name="getSiblingsResponse" type="tns:getSiblingsResponse"/>

<xs:element name="getSpecialAttribute" type="tns:getSpecialAttribute"/>

<xs:element name="getSpecialAttributeResponse" type="tns:getSpecialAttributeResponse"/>

<xs:element name="getSpecialAttributes" type="tns:getSpecialAttributes"/>

<xs:element name="getSpecialAttributesResponse" type="tns:getSpecialAttributesResponse"/>

<xs:element name="getSpecialPossibleChildren" type="tns:getSpecialPossibleChildren"/>

<xs:element name="getSpecialPossibleChildrenResponse" type="tns:getSpecialPossibleChildrenResponse"/>

<xs:element name="getSubClassesLight" type="tns:getSubClassesLight"/>

<xs:element name="getSubClassesLightNoRecursive" type="tns:getSubClassesLightNoRecursive"/>

<xs:element name="getSubClassesLightNoRecursiveResponse" type="tns:getSubClassesLightNoRecursiveResponse"/>

<xs:element name="getSubClassesLightResponse" type="tns:getSubClassesLightResponse"/>

<xs:element name="getUpstreamContainmentHierarchy" type="tns:getUpstreamContainmentHierarchy"/>

<xs:element name="getUpstreamContainmentHierarchyResponse" type="tns:getUpstreamContainmentHierarchyResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="moveObjects" type="tns:moveObjects"/>

<xs:element name="moveObjectsResponse" type="tns:moveObjectsResponse"/>

<xs:element name="releaseMirrorPort" type="tns:releaseMirrorPort"/>

<xs:element name="releaseMirrorPortResponse" type="tns:releaseMirrorPortResponse"/>

<xs:element name="releaseObjectFromService" type="tns:releaseObjectFromService"/>

<xs:element name="releaseObjectFromServiceResponse" type="tns:releaseObjectFromServiceResponse"/>

<xs:element name="removePossibleChildrenForClassWithId" type="tns:removePossibleChildrenForClassWithId"/>

<xs:element name="removePossibleChildrenForClassWithIdResponse" type="tns:removePossibleChildrenForClassWithIdResponse"/>

<xs:element name="saveQuery" type="tns:saveQuery"/>

<xs:element name="saveQueryResponse" type="tns:saveQueryResponse"/>

<xs:element name="setAttributeProperties" type="tns:setAttributeProperties"/>

<xs:element name="setAttributePropertiesForClassWithId" type="tns:setAttributePropertiesForClassWithId"/>

<xs:element name="setAttributePropertiesForClassWithIdResponse" type="tns:setAttributePropertiesForClassWithIdResponse"/>

<xs:element name="setAttributePropertiesResponse" type="tns:setAttributePropertiesResponse"/>

<xs:element name="setClassProperties" type="tns:setClassProperties"/>

<xs:element name="setClassPropertiesResponse" type="tns:setClassPropertiesResponse"/>

<xs:element name="setGroupProperties" type="tns:setGroupProperties"/>

<xs:element name="setGroupPropertiesResponse" type="tns:setGroupPropertiesResponse"/>

<xs:element name="setUserProperties" type="tns:setUserProperties"/>

<xs:element name="setUserPropertiesResponse" type="tns:setUserPropertiesResponse"/>

<xs:element name="updateGeneralView" type="tns:updateGeneralView"/>

<xs:element name="updateGeneralViewResponse" type="tns:updateGeneralViewResponse"/>

<xs:element name="updateObject" type="tns:updateObject"/>

<xs:element name="updateObjectRelatedView" type="tns:updateObjectRelatedView"/>

<xs:element name="updateObjectRelatedViewResponse" type="tns:updateObjectRelatedViewResponse"/>

<xs:element name="updateObjectResponse" type="tns:updateObjectResponse"/>

<xs:complexType name="getClassHierarchy">
<xs:sequence>
<xs:element name="showAll" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassHierarchyResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setGroupProperties">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="privileges" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="users" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setGroupPropertiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createPhysicalConnection">
<xs:sequence>
<xs:element name="aObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="aObjectId" type="xs:long"/>
<xs:element name="bObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="bObjectId" type="xs:long"/>
<xs:element name="parentClass" type="xs:string" minOccurs="0"/>
<xs:element name="parentId" type="xs:long"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="connectionClass" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPhysicalConnectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createService">
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" minOccurs="0"/>
<xs:element name="customerClass" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long"/>
<xs:element name="attributes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParents">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteObjectLight">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="validators" type="tns:validator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validator">
<xs:sequence>
<xs:element name="label" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUsers">
<xs:sequence>
<xs:element name="oids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUsersResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteAttributeForClassWithId">
<xs:sequence>
<xs:element name="classId" type="xs:long"/>
<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAttributeForClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGeneralViews">
<xs:sequence>
<xs:element name="viewType" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGeneralViewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewInfoLight">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteClass">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteClassResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getClass">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classInfo">
<xs:complexContent>
<xs:extension base="tns:classInfoLight">
<xs:sequence>
<xs:element name="attributeIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeDisplayNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributesIsVisible" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributesDescription" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="icon" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="creationDate" type="xs:long"/>
<xs:element name="countable" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="classInfoLight">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="_abstract" type="xs:boolean" minOccurs="0"/>
<xs:element name="viewable" type="xs:boolean" minOccurs="0"/>
<xs:element name="custom" type="xs:boolean" minOccurs="0"/>
<xs:element name="inDesign" type="xs:boolean" minOccurs="0"/>
<xs:element name="listType" type="xs:boolean" minOccurs="0"/>
<xs:element name="validators" type="tns:validator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="color" type="xs:int"/>
<xs:element name="smallIcon" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveObjects">
<xs:sequence>
<xs:element name="targetClass" type="xs:string" minOccurs="0"/>
<xs:element name="targetOid" type="xs:long"/>
<xs:element name="objectsClasses" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="objectsOids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveObjectsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteGeneralView">
<xs:sequence>
<xs:element name="oids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGeneralViewResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createPoolItem">
<xs:sequence>
<xs:element name="poolId" type="xs:long"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="templateId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPoolItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="releaseMirrorPort">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="releaseMirrorPortResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllClasses">
<xs:sequence>
<xs:element name="includeListTypes" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllClassesResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBulkPhysicalConnections">
<xs:sequence>
<xs:element name="connectionClass" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfChildren" type="xs:int"/>
<xs:element name="parentClass" type="xs:string" minOccurs="0"/>
<xs:element name="parentId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBulkPhysicalConnectionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConnectionEndpoints">
<xs:sequence>
<xs:element name="connectionClass" type="xs:string" minOccurs="0"/>
<xs:element name="connectionId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConnectionEndpointsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createListTypeItem">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createListTypeItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttributeForClassWithId">
<xs:sequence>
<xs:element name="classId" type="xs:string" minOccurs="0"/>
<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttributeForClassWithIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:attributeInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeInfo">
<xs:sequence>
<xs:element name="administrative" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="noCopy" type="xs:boolean" minOccurs="0"/>
<xs:element name="readOnly" type="xs:boolean" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="unique" type="xs:boolean" minOccurs="0"/>
<xs:element name="visible" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSession">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSessionResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteSession" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteSession">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:long"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuery">
<xs:sequence>
<xs:element name="queryOid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQueryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setClassProperties">
<xs:sequence>
<xs:element name="classId" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="smallIcon" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="icon" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="color" type="xs:int"/>
<xs:element name="_abstract" type="xs:boolean" minOccurs="0"/>
<xs:element name="inDesign" type="xs:boolean" minOccurs="0"/>
<xs:element name="custom" type="xs:boolean" minOccurs="0"/>
<xs:element name="countable" type="xs:boolean" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setClassPropertiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAttribute">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
<xs:element name="sesionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttributeResponse">
<xs:sequence>
<xs:element name="return" type="tns:attributeInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroup">
<xs:sequence>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="privileges" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="users" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroupResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPool">
<xs:sequence>
<xs:element name="parentid" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="instancesOfClass" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPoolResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAttribute">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="administrative" type="xs:boolean"/>
<xs:element name="visible" type="xs:boolean"/>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="noCopy" type="xs:boolean"/>
<xs:element name="unique" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAttributeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bulkUpload">
<xs:sequence>
<xs:element name="file" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="commitSize" type="xs:int"/>
<xs:element name="dataType" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bulkUploadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildrenForClassWithId">
<xs:sequence>
<xs:element name="parentClassId" type="xs:long"/>
<xs:element name="childrenToBeAdded" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildrenForClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setUserProperties">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="privileges" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="groups" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setUserPropertiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getObject">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteObject">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="attributes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="values" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAttributeForClassWithId">
<xs:sequence>
<xs:element name="classId" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="administrative" type="xs:boolean"/>
<xs:element name="visible" type="xs:boolean"/>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="noCopy" type="xs:boolean"/>
<xs:element name="unique" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAttributeForClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createQuery">
<xs:sequence>
<xs:element name="queryName" type="xs:string" minOccurs="0"/>
<xs:element name="ownerOid" type="xs:long"/>
<xs:element name="queryStructure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQueryResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChildrenOfClass">
<xs:sequence>
<xs:element name="parentOid" type="xs:long"/>
<xs:element name="parentClass" type="xs:string" minOccurs="0"/>
<xs:element name="childrenClass" type="xs:string" minOccurs="0"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChildrenOfClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteClassWithId">
<xs:sequence>
<xs:element name="classId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createSpecialObject">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="parentObjectClassName" type="xs:string" minOccurs="0"/>
<xs:element name="parentOid" type="xs:long"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="templateId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSpecialObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroups">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:groupInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupInfo">
<xs:complexContent>
<xs:extension base="tns:groupInfoLight">
<xs:sequence>
<xs:element name="users" type="tns:userInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creationDate" type="xs:long"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="privileges" type="tns:privilegeInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="groupInfoLight">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userInfo">
<xs:complexContent>
<xs:extension base="tns:userInfoLight">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="creationDate" type="xs:long"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="groups" type="tns:groupInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="privileges" type="tns:privilegeInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userInfoLight">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="privilegeInfo">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="code" type="xs:long"/>
<xs:element name="methodGroup" type="xs:string" minOccurs="0"/>
<xs:element name="methodName" type="xs:string" minOccurs="0"/>
<xs:element name="methodManager" type="xs:string" minOccurs="0"/>
<xs:element name="dependsOf" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParent">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParentResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubClassesLightNoRecursive">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="includeAbstractClasses" type="xs:boolean"/>
<xs:element name="includeSelf" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubClassesLightNoRecursiveResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSiblings">
<xs:sequence>
<xs:element name="objectClassName" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSiblingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGeneralView">
<xs:sequence>
<xs:element name="viewType" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="structure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="background" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGeneralViewResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePossibleChildrenForClassWithId">
<xs:sequence>
<xs:element name="parentClassId" type="xs:long"/>
<xs:element name="childrenToBeRemoved" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePossibleChildrenForClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getObjectChildren">
<xs:sequence>
<xs:element name="objectClassName" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteObjects">
<xs:sequence>
<xs:element name="classNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="oid" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="releaseRelationships" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteObjectsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListTypeItems">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListTypeItemsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpstreamContainmentHierarchy">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="recursive" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpstreamContainmentHierarchyResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGeneralView">
<xs:sequence>
<xs:element name="viewId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGeneralViewResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewInfo">
<xs:complexContent>
<xs:extension base="tns:viewInfoLight">
<xs:sequence>
<xs:element name="background" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="structure" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getInstanceableListTypes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInstanceableListTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPoolsForParentWithId">
<xs:sequence>
<xs:element name="limit" type="xs:int"/>
<xs:element name="parentId" type="xs:long"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPoolsForParentWithIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllClassesLight">
<xs:sequence>
<xs:element name="includeListTypes" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllClassesLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectMirrorPort">
<xs:sequence>
<xs:element name="aObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="aObjectId" type="xs:long"/>
<xs:element name="bObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="bObjectId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectMirrorPortResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuery">
<xs:sequence>
<xs:element name="queryOid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQueryResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteQuery" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteQuery">
<xs:complexContent>
<xs:extension base="tns:remoteQueryLight">
<xs:sequence>
<xs:element name="content" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="remoteQueryLight">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="isPublic" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQueries">
<xs:sequence>
<xs:element name="showPublic" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQueriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteQueryLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParentOfClass">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="parentClass" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParentOfClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObject" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPoolItems">
<xs:sequence>
<xs:element name="poolId" type="xs:long"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPoolItemsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGeneralView">
<xs:sequence>
<xs:element name="viewId" type="xs:long"/>
<xs:element name="viewName" type="xs:string" minOccurs="0"/>
<xs:element name="viewDescription" type="xs:string" minOccurs="0"/>
<xs:element name="structure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="background" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGeneralViewResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateObjectRelatedView">
<xs:sequence>
<xs:element name="objectOid" type="xs:long"/>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="viewId" type="xs:long"/>
<xs:element name="viewName" type="xs:string" minOccurs="0"/>
<xs:element name="viewDescription" type="xs:string" minOccurs="0"/>
<xs:element name="structure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="background" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateObjectRelatedViewResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createObjectRelatedView">
<xs:sequence>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="viewType" type="xs:int"/>
<xs:element name="structure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="background" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createObjectRelatedViewResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBusinessObjectAuditTrail">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBusinessObjectAuditTrailResponse">
<xs:sequence>
<xs:element name="return" type="tns:applicationLogEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="applicationLogEntry" final="extension restriction">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="timestamp" type="xs:long"/>
<xs:element name="affectedProperty" type="xs:string" minOccurs="0"/>
<xs:element name="oldValue" type="xs:string" minOccurs="0"/>
<xs:element name="newValue" type="xs:string" minOccurs="0"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateObject">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateObjectResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSpecialAttributes">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialAttributesResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectSpecialRelationships" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteObjectSpecialRelationships">
<xs:sequence>
<xs:element name="relationships" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="relatedObjects" type="tns:remoteObjectLightArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialAttribute">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="attributename" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialAttributeResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeSession">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeSessionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSubClassesLight">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="includeAbstractClasses" type="xs:boolean"/>
<xs:element name="includeSelf" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubClassesLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialPossibleChildren">
<xs:sequence>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialPossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteListTypeItem">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="releaseRelationships" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteListTypeItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="executeQuery">
<xs:sequence>
<xs:element name="query" type="tns:transientQuery" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transientQuery">
<xs:sequence>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="conditions" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="join" type="xs:boolean"/>
<xs:element name="joins" type="tns:transientQuery" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="logicalConnector" type="xs:int"/>
<xs:element name="page" type="xs:int"/>
<xs:element name="parent" type="tns:transientQuery" minOccurs="0"/>
<xs:element name="visibleAttributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeQueryResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultRecord">
<xs:sequence>
<xs:element name="object" type="tns:remoteObjectLight" minOccurs="0"/>
<xs:element name="extraColumns" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChildrenOfClassLight">
<xs:sequence>
<xs:element name="parentOid" type="xs:long"/>
<xs:element name="parentClass" type="xs:string" minOccurs="0"/>
<xs:element name="childrenClass" type="xs:string" minOccurs="0"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChildrenOfClassLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePhysicalConnection">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePhysicalConnectionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="copyObjects">
<xs:sequence>
<xs:element name="targetClass" type="xs:string" minOccurs="0"/>
<xs:element name="targetOid" type="xs:long"/>
<xs:element name="templateClases" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="templateOids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recursive" type="xs:boolean"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="copyObjectsResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectPhysicalLinks">
<xs:sequence>
<xs:element name="sideAClassNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sideAIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="linksClassNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="linksIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sideBClassNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sideBIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="connectPhysicalLinksResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="releaseObjectFromService">
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long"/>
<xs:element name="targetId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="releaseObjectFromServiceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getObjectRelatedView">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="viewId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectRelatedViewResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:userInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServiceResources">
<xs:sequence>
<xs:element name="serviceClass" type="xs:string" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServiceResourcesResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="associateObjectToService">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="serviceClass" type="xs:string" minOccurs="0"/>
<xs:element name="serviceId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="associateObjectToServiceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createClass">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="_abstract" type="xs:boolean"/>
<xs:element name="custom" type="xs:boolean"/>
<xs:element name="countable" type="xs:boolean"/>
<xs:element name="inDesign" type="xs:boolean"/>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="icon" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="smallIcon" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="color" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectLight">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="oid" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassWithId">
<xs:sequence>
<xs:element name="classId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassWithIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGeneralActivityAuditTrail">
<xs:sequence>
<xs:element name="page" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGeneralActivityAuditTrailResponse">
<xs:sequence>
<xs:element name="return" type="tns:applicationLogEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createObject">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="parentObjectClassName" type="xs:string" minOccurs="0"/>
<xs:element name="parentOid" type="xs:long"/>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="templateId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadBulkLoadLog">
<xs:sequence>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadBulkLoadLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhysicalPath">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhysicalPathResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getApplicationObjectAuditTrail">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getApplicationObjectAuditTrailResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="saveQuery">
<xs:sequence>
<xs:element name="queryOid" type="xs:long"/>
<xs:element name="queryName" type="xs:string" minOccurs="0"/>
<xs:element name="ownerOid" type="xs:long"/>
<xs:element name="queryStructure" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveQueryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getObjectSpecialChildren">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0"/>
<xs:element name="objectId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectSpecialChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAttributeProperties">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="attributeId" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="administrative" type="xs:boolean" minOccurs="0"/>
<xs:element name="visible" type="xs:boolean" minOccurs="0"/>
<xs:element name="readOnly" type="xs:boolean" minOccurs="0"/>
<xs:element name="unique" type="xs:boolean" minOccurs="0"/>
<xs:element name="noCopy" type="xs:boolean" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAttributePropertiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deletePools">
<xs:sequence>
<xs:element name="ids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePoolsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createCustomer">
<xs:sequence>
<xs:element name="customerClass" type="xs:string" minOccurs="0"/>
<xs:element name="attributes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectRelatedViews">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="objectClass" type="xs:string" minOccurs="0"/>
<xs:element name="viewType" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectRelatedViewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServices">
<xs:sequence>
<xs:element name="customerClass" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServicesResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectsOfClassLight">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectsOfClassLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAttribute">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAttributeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setAttributePropertiesForClassWithId">
<xs:sequence>
<xs:element name="classid" type="xs:long"/>
<xs:element name="attributeId" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="administrative" type="xs:boolean" minOccurs="0"/>
<xs:element name="visible" type="xs:boolean" minOccurs="0"/>
<xs:element name="readOnly" type="xs:boolean" minOccurs="0"/>
<xs:element name="noCopy" type="xs:boolean" minOccurs="0"/>
<xs:element name="unique" type="xs:boolean" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAttributePropertiesForClassWithIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPools">
<xs:sequence>
<xs:element name="limit" type="xs:int"/>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPoolsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectChildrenForClassWithId">
<xs:sequence>
<xs:element name="oid" type="xs:long"/>
<xs:element name="objectClassId" type="xs:long"/>
<xs:element name="maxResults" type="xs:int"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectChildrenForClassWithIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPossibleChildrenNoRecursive">
<xs:sequence>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPossibleChildrenNoRecursiveResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="LastName" type="xs:string" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="privileges" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="groups" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGroups">
<xs:sequence>
<xs:element name="oids" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGroupsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPossibleChildren">
<xs:sequence>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildren">
<xs:sequence>
<xs:element name="parentClassName" type="xs:string" minOccurs="0"/>
<xs:element name="childrenToBeAdded" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildrenResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="remoteObjectLightArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:remoteObjectLight" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
</xs:schema>