server/KuwaibaServer-war/web/WEB-INF/wsdl/localhost_23345/KuwaibaServer-war/KuwaibaWebserviceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="KuwaibaWebserviceService">
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:net30rmp="http://schemas.microsoft.com/net/2005/02/rm/policy" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" wsu:Id="MainWSPortBindingPolicy">
<wsrmp:RMAssertion>
<wsp:Policy />
</wsrmp:RMAssertion>
<sp:SymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:TripleDes />
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp />
<sp:Layout>
<wsp:Policy>
<sp:Strict />
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody />
<sp:ProtectionToken>
<wsp:Policy>
<sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:BootstrapPolicy>
<wsp:Policy>
<sp:AsymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:TripleDes />
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp />
<sp:InitiatorToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssX509V3Token10 />
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:InitiatorToken>
<sp:Layout>
<wsp:Policy>
<sp:Strict />
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody />
<sp:RecipientToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp:Policy>
<sp:RequireIssuerSerialReference />
<sp:WssX509V3Token10 />
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:RecipientToken>
</wsp:Policy>
</sp:AsymmetricBinding>
<sp:EncryptedParts>
<sp:Body />
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID" />
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo" />
</sp:SignedParts>
<sp:Wss10>
<wsp:Policy>
<sp:MustSupportRefIssuerSerial />
</wsp:Policy>
</sp:Wss10>
</wsp:Policy>
</sp:BootstrapPolicy>
<sp:RequireDerivedKeys />
</wsp:Policy>
</sp:SecureConversationToken>
</wsp:Policy>
</sp:ProtectionToken>
</wsp:Policy>
</sp:SymmetricBinding>
<sp:Trust13>
<wsp:Policy>
<sp:MustSupportIssuedTokens />
<sp:RequireClientEntropy />
<sp:RequireServerEntropy />
</wsp:Policy>
</sp:Trust13>
<sp:Wss11>
<wsp:Policy>
<sp:MustSupportRefEncryptedKey />
<sp:MustSupportRefIssuerSerial />
<sp:MustSupportRefThumbprint />
</wsp:Policy>
</sp:Wss11>
<net30rmp:RmFlowControl>
<wsp:Policy />
</net30rmp:RmFlowControl>

<wsam:Addressing />
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="MainWSPortBinding_getEquipment_Input_Policy">
<sp:EncryptedParts>
<sp:Body />
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID" />
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo" />
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="MainWSPortBinding_getEquipment_Output_Policy">
<sp:EncryptedParts>
<sp:Body />
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID" />
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo" />
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:23345/KuwaibaServer-war/KuwaibaWebserviceService?xsd=1" />
</xsd:schema>
</types>
<message name="getEquipment">
<part name="parameters" element="tns:getEquipment" />
</message>
<message name="getEquipmentResponse">
<part name="parameters" element="tns:getEquipmentResponse" />
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession" />
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse" />
</message>
<message name="destroySession">
<part name="parameters" element="tns:destroySession" />
</message>
<message name="destroySessionResponse">
<part name="parameters" element="tns:destroySessionResponse" />
</message>
<message name="getTreeNode">
<part name="parameters" element="tns:getTreeNode" />
</message>
<message name="getTreeNodeResponse">
<part name="parameters" element="tns:getTreeNodeResponse" />
</message>
<message name="updateObject">
<part name="parameters" element="tns:updateObject" />
</message>
<message name="updateObjectResponse">
<part name="parameters" element="tns:updateObjectResponse" />
</message>
<message name="getLastErr">
<part name="parameters" element="tns:getLastErr" />
</message>
<message name="getLastErrResponse">
<part name="parameters" element="tns:getLastErrResponse" />
</message>
<portType name="KuwaibaWebservice">
<operation name="getEquipment">
<input wsam:Action="http://webservice/KuwaibaWebservice/getEquipmentRequest" message="tns:getEquipment" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getEquipmentResponse" message="tns:getEquipmentResponse" />
</operation>
<operation name="createSession">
<input wsam:Action="http://webservice/KuwaibaWebservice/createSessionRequest" message="tns:createSession" />
<output wsam:Action="http://webservice/KuwaibaWebservice/createSessionResponse" message="tns:createSessionResponse" />
</operation>
<operation name="destroySession">
<input wsam:Action="http://webservice/KuwaibaWebservice/destroySessionRequest" message="tns:destroySession" />
<output wsam:Action="http://webservice/KuwaibaWebservice/destroySessionResponse" message="tns:destroySessionResponse" />
</operation>
<operation name="getTreeNode">
<input wsam:Action="http://webservice/KuwaibaWebservice/getTreeNodeRequest" message="tns:getTreeNode" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getTreeNodeResponse" message="tns:getTreeNodeResponse" />
</operation>
<operation name="updateObject">
<input wsam:Action="http://webservice/KuwaibaWebservice/updateObjectRequest" message="tns:updateObject" />
<output wsam:Action="http://webservice/KuwaibaWebservice/updateObjectResponse" message="tns:updateObjectResponse" />
</operation>
<operation name="getLastErr">
<input wsam:Action="http://webservice/KuwaibaWebservice/getLastErrRequest" message="tns:getLastErr" />
<output wsam:Action="http://webservice/KuwaibaWebservice/getLastErrResponse" message="tns:getLastErrResponse" />
</operation>
</portType>
<binding name="KuwaibaWebservicePortBinding" type="tns:KuwaibaWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getEquipment">
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Input_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Output_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="createSession">
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Input_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Output_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="destroySession">
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Input_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Output_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getTreeNode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastErr">
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Input_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#MainWSPortBinding_getEquipment_Output_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="KuwaibaWebserviceService">
<port name="KuwaibaWebservicePort" binding="tns:KuwaibaWebservicePortBinding">
<soap:address location="http://localhost:23345/KuwaibaServer-war/KuwaibaWebserviceService" />
</port>
</service>
</definitions>