client/KuwaibaWebserviceClient/src/META-INF/wsdl/localhost_8080/EnterpriseApplication-war/KuwaibaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.kuwaiba.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.kuwaiba.org/" name="KuwaibaService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.kuwaiba.org/" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=2"/>
</xsd:schema>
</types>
<message name="getMetadata">
<part name="parameters" element="tns:getMetadata"/>
</message>
<message name="getMetadataResponse">
<part name="parameters" element="tns:getMetadataResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession"/>
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse"/>
</message>
<message name="createObject">
<part name="parameters" element="tns:createObject"/>
</message>
<message name="createObjectResponse">
<part name="parameters" element="tns:createObjectResponse"/>
</message>
<message name="setClassIcon">
<part name="parameters" element="tns:setClassIcon"/>
</message>
<message name="setClassIconResponse">
<part name="parameters" element="tns:setClassIconResponse"/>
</message>
<message name="getMetadataForClass">
<part name="parameters" element="tns:getMetadataForClass"/>
</message>
<message name="getMetadataForClassResponse">
<part name="parameters" element="tns:getMetadataForClassResponse"/>
</message>
<message name="getLightMetadata">
<part name="parameters" element="tns:getLightMetadata"/>
</message>
<message name="getLightMetadataResponse">
<part name="parameters" element="tns:getLightMetadataResponse"/>
</message>
<message name="getPossibleChildren">
<part name="parameters" element="tns:getPossibleChildren"/>
</message>
<message name="getPossibleChildrenResponse">
<part name="parameters" element="tns:getPossibleChildrenResponse"/>
</message>
<message name="getPossibleChildrenNoRecursive">
<part name="parameters" element="tns:getPossibleChildrenNoRecursive"/>
</message>
<message name="getPossibleChildrenNoRecursiveResponse">
<part name="parameters" element="tns:getPossibleChildrenNoRecursiveResponse"/>
</message>
<message name="addPossibleChildren">
<part name="parameters" element="tns:addPossibleChildren"/>
</message>
<message name="addPossibleChildrenResponse">
<part name="parameters" element="tns:addPossibleChildrenResponse"/>
</message>
<message name="removePossibleChildren">
<part name="parameters" element="tns:removePossibleChildren"/>
</message>
<message name="removePossibleChildrenResponse">
<part name="parameters" element="tns:removePossibleChildrenResponse"/>
</message>
<message name="closeSession">
<part name="parameters" element="tns:closeSession"/>
</message>
<message name="closeSessionResponse">
<part name="parameters" element="tns:closeSessionResponse"/>
</message>
<message name="getObjectChildren">
<part name="parameters" element="tns:getObjectChildren"/>
</message>
<message name="getObjectChildrenResponse">
<part name="parameters" element="tns:getObjectChildrenResponse"/>
</message>
<message name="getChildrenOfClass">
<part name="parameters" element="tns:getChildrenOfClass"/>
</message>
<message name="getChildrenOfClassResponse">
<part name="parameters" element="tns:getChildrenOfClassResponse"/>
</message>
<message name="getChildrenOfClassLight">
<part name="parameters" element="tns:getChildrenOfClassLight"/>
</message>
<message name="getChildrenOfClassLightResponse">
<part name="parameters" element="tns:getChildrenOfClassLightResponse"/>
</message>
<message name="getObjectInfo">
<part name="parameters" element="tns:getObjectInfo"/>
</message>
<message name="getObjectInfoResponse">
<part name="parameters" element="tns:getObjectInfoResponse"/>
</message>
<message name="getObjectInfoLight">
<part name="parameters" element="tns:getObjectInfoLight"/>
</message>
<message name="getObjectInfoLightResponse">
<part name="parameters" element="tns:getObjectInfoLightResponse"/>
</message>
<message name="updateObject">
<part name="parameters" element="tns:updateObject"/>
</message>
<message name="updateObjectResponse">
<part name="parameters" element="tns:updateObjectResponse"/>
</message>
<message name="getObjectChildrenByClassName">
<part name="parameters" element="tns:getObjectChildrenByClassName"/>
</message>
<message name="getObjectChildrenByClassNameResponse">
<part name="parameters" element="tns:getObjectChildrenByClassNameResponse"/>
</message>
<message name="createClassMetadata">
<part name="parameters" element="tns:createClassMetadata"/>
</message>
<message name="createClassMetadataResponse">
<part name="parameters" element="tns:createClassMetadataResponse"/>
</message>
<message name="changeClassMetadataDefinition">
<part name="parameters" element="tns:changeClassMetadataDefinition"/>
</message>
<message name="changeClassMetadataDefinitionResponse">
<part name="parameters" element="tns:changeClassMetadataDefinitionResponse"/>
</message>
<message name="addAttributeByClassId">
<part name="parameters" element="tns:addAttributeByClassId"/>
</message>
<message name="addAttributeByClassIdResponse">
<part name="parameters" element="tns:addAttributeByClassIdResponse"/>
</message>
<message name="addAttributeByClassName">
<part name="parameters" element="tns:addAttributeByClassName"/>
</message>
<message name="addAttributeByClassNameResponse">
<part name="parameters" element="tns:addAttributeByClassNameResponse"/>
</message>
<message name="getMetadataForClassById">
<part name="parameters" element="tns:getMetadataForClassById"/>
</message>
<message name="getMetadataForClassByIdResponse">
<part name="parameters" element="tns:getMetadataForClassByIdResponse"/>
</message>
<message name="deleteClassByName">
<part name="parameters" element="tns:deleteClassByName"/>
</message>
<message name="deleteClassByNameResponse">
<part name="parameters" element="tns:deleteClassByNameResponse"/>
</message>
<message name="deleteClassById">
<part name="parameters" element="tns:deleteClassById"/>
</message>
<message name="deleteClassByIdResponse">
<part name="parameters" element="tns:deleteClassByIdResponse"/>
</message>
<portType name="Kuwaiba">
<operation name="getMetadata">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataRequest" message="tns:getMetadata"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataResponse" message="tns:getMetadataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadata/Fault/Exception"/>
</operation>
<operation name="createSession">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSessionRequest" message="tns:createSession"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSessionResponse" message="tns:createSessionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createSession/Fault/Exception"/>
</operation>
<operation name="createObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectRequest" message="tns:createObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObjectResponse" message="tns:createObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createObject/Fault/Exception"/>
</operation>
<operation name="setClassIcon">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassIconRequest" message="tns:setClassIcon"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassIconResponse" message="tns:setClassIconResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/setClassIcon/Fault/Exception"/>
</operation>
<operation name="getMetadataForClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClassRequest" message="tns:getMetadataForClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClassResponse" message="tns:getMetadataForClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClass/Fault/Exception"/>
</operation>
<operation name="getLightMetadata">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getLightMetadataRequest" message="tns:getLightMetadata"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getLightMetadataResponse" message="tns:getLightMetadataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getLightMetadata/Fault/Exception"/>
</operation>
<operation name="getPossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenRequest" message="tns:getPossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenResponse" message="tns:getPossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildren/Fault/Exception"/>
</operation>
<operation name="getPossibleChildrenNoRecursive">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursiveRequest" message="tns:getPossibleChildrenNoRecursive"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursiveResponse" message="tns:getPossibleChildrenNoRecursiveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getPossibleChildrenNoRecursive/Fault/Exception"/>
</operation>
<operation name="addPossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenRequest" message="tns:addPossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildrenResponse" message="tns:addPossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addPossibleChildren/Fault/Exception"/>
</operation>
<operation name="removePossibleChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildrenRequest" message="tns:removePossibleChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildrenResponse" message="tns:removePossibleChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/removePossibleChildren/Fault/Exception"/>
</operation>
<operation name="closeSession">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSessionRequest" message="tns:closeSession"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSessionResponse" message="tns:closeSessionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/closeSession/Fault/Exception"/>
</operation>
<operation name="getObjectChildren">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenRequest" message="tns:getObjectChildren"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenResponse" message="tns:getObjectChildrenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildren/Fault/Exception"/>
</operation>
<operation name="getChildrenOfClass">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassRequest" message="tns:getChildrenOfClass"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassResponse" message="tns:getChildrenOfClassResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClass/Fault/Exception"/>
</operation>
<operation name="getChildrenOfClassLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLightRequest" message="tns:getChildrenOfClassLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLightResponse" message="tns:getChildrenOfClassLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getChildrenOfClassLight/Fault/Exception"/>
</operation>
<operation name="getObjectInfo">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfoRequest" message="tns:getObjectInfo"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfoResponse" message="tns:getObjectInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfo/Fault/Exception"/>
</operation>
<operation name="getObjectInfoLight">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfoLightRequest" message="tns:getObjectInfoLight"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfoLightResponse" message="tns:getObjectInfoLightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectInfoLight/Fault/Exception"/>
</operation>
<operation name="updateObject">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectRequest" message="tns:updateObject"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObjectResponse" message="tns:updateObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/updateObject/Fault/Exception"/>
</operation>
<operation name="getObjectChildrenByClassName">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenByClassNameRequest" message="tns:getObjectChildrenByClassName"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenByClassNameResponse" message="tns:getObjectChildrenByClassNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getObjectChildrenByClassName/Fault/Exception"/>
</operation>
<operation name="createClassMetadata">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClassMetadataRequest" message="tns:createClassMetadata"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClassMetadataResponse" message="tns:createClassMetadataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/createClassMetadata/Fault/Exception"/>
</operation>
<operation name="changeClassMetadataDefinition">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/changeClassMetadataDefinitionRequest" message="tns:changeClassMetadataDefinition"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/changeClassMetadataDefinitionResponse" message="tns:changeClassMetadataDefinitionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/changeClassMetadataDefinition/Fault/Exception"/>
</operation>
<operation name="addAttributeByClassId">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassIdRequest" message="tns:addAttributeByClassId"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassIdResponse" message="tns:addAttributeByClassIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassId/Fault/Exception"/>
</operation>
<operation name="addAttributeByClassName">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassNameRequest" message="tns:addAttributeByClassName"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassNameResponse" message="tns:addAttributeByClassNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/addAttributeByClassName/Fault/Exception"/>
</operation>
<operation name="getMetadataForClassById">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClassByIdRequest" message="tns:getMetadataForClassById"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClassByIdResponse" message="tns:getMetadataForClassByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/getMetadataForClassById/Fault/Exception"/>
</operation>
<operation name="deleteClassByName">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassByNameRequest" message="tns:deleteClassByName"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassByNameResponse" message="tns:deleteClassByNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassByName/Fault/Exception"/>
</operation>
<operation name="deleteClassById">
<input wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassByIdRequest" message="tns:deleteClassById"/>
<output wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassByIdResponse" message="tns:deleteClassByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.kuwaiba.org/Kuwaiba/deleteClassById/Fault/Exception"/>
</operation>
</portType>
<binding name="KuwaibaPortBinding" type="tns:Kuwaiba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setClassIcon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMetadataForClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getLightMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getPossibleChildrenNoRecursive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addPossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removePossibleChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="closeSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectChildren">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getChildrenOfClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getChildrenOfClassLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectInfoLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObjectChildrenByClassName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createClassMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="changeClassMetadataDefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addAttributeByClassId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addAttributeByClassName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMetadataForClassById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteClassByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteClassById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="KuwaibaService">
<port name="KuwaibaPort" binding="tns:KuwaibaPortBinding">
<soap:address location="http://localhost:8080/kuwaiba/KuwaibaService"/>
</port>
</service>
</definitions>